<div [hidden]="submitted" style="width: 400px;">
  <h3>Create Company</h3>
  <!-- <form (ngSubmit)="onSubmit()"> -->
  <div class="form-group">
    <label for="name">Company</label>
    <input type="text" class="form-control" id="companyName" required [(ngModel)]="company.companyName"
      name="companyName">
  </div>
  <div class="form-group">
    <label for="name">Phone number</label>
    <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="company.phoneNumber" name="phoneNumber">
  </div>
  <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  <!-- </form> -->
</div>


<div [hidden]="!submitted" style="width: 400px;">
  <h3>Update Company</h3>
  <form (ngSubmit)="updateCompany(company)">
    <div class="form-group">
      <label for="name">Company</label>
      <input type="text" class="form-control" id="companyName" required [(ngModel)]="company.companyName"
        name="companyName">
    </div>
    <div class="form-group">
      <label for="name">Phone number</label>
      <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="company.phoneNumber" name="phoneNumber">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Company List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company</th>
          <!-- <th>City</th> -->
          <th>Phone number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies | async">
          <td>{{company.companyName}}</td>
          <!-- <td>{{company.location.cityName}}</td> -->
          <td>{{company.phoneNumber}}</td>
          <td><button (click)="deleteCompany(company.companyID)" class="btn btn-danger">Delete</button>
            <button (click)="getCompany(company.companyID)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
