/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.hamburger-container {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: blue;
    text-align: center;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.action-bar {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 56px;
  height: 100%;
  background:#1389FD;
  transition: width 200ms ease-in-out;
  overflow: hidden;
}
.action-bar-expanded {
  width: 220px;
}
.action-bar-expanded .action-bar-item-text {
  opacity: 1;
}
.action-bar-item {
  display: flex;
  width: 100%;
  height: 56px;
  color: #fff;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.action-bar-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.action-bar-item-icon {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 56px;
  height: 56px;
}
.action-bar-item-text {
  font-size: 1.125rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.app-container {
    display: flex;
    min-height: 100vh;
  }

  .transform-rotate-90 {
    transform: rotate(90deg);
  }

  .transform-rotate-180 {
    transform: rotate(180deg);
  }

  .transform-rotate-270 {
    transform: rotate(270deg);
  }

  .transform-flip-horizontal {
    transform: scale(-1, 1);
  }
  .transform-flip-vertical {
    transform: scale(1, -1);
  }

