<h2>Product Details</h2>

<hr />
<div *ngIf="product">
  <div>
    <label><b>Product: </b></label> {{product.productName}}
  </div>
  <div>
    <label><b>Category: </b></label> {{product.category.categoryName}}
  </div>
  <div>
    <label><b>Price: </b></label> {{product.price}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to product List</button><br>
