<div class="action-bar" [class.action-bar-expanded]="expanded">

  <!-- Menu Button -->
  <!-- <button class="action-bar-item shadow-sm" (click)="expanded = !expanded">
		<span class="action-bar-item-icon jam jam-bar-chart transform-rotate-90"></span>
    <span class="action-bar-item-text">Menu</span>
	</button> -->

  <app-action-bar-item [shadow]="true" (click)="expanded = !expanded">
    <span class="action-bar-item-icon jam jam-bar-chart transform-rotate-90"></span>
    <span class="action-bar-item-text">Menu</span>
  </app-action-bar-item>

  <!-- A vertical navbar -->
  <nav class="navbar navbar-light">

    <!-- Links -->
    <ul class="navbar-nav nav">
      <li class="nav-item">
      <a class="nav-link" href="/dashboard">   <i class="fa fa-home "></i> <span *ngIf="expanded"
            class="d-none d-sm-inline">DASHBOARDS</span> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/products"  routerLinkActive="active"><i class="fa fa-list "></i> <span *ngIf="expanded"
            class="d-none d-sm-inline">PRODUCTS</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/salesOrder"  routerLinkActive="active"><i class="fa fa-suitcase "></i> <span *ngIf="expanded"
            class="d-none d-sm-inline">SALES</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/add"><i class="fa fa-plus "></i> <span *ngIf="expanded"
            class="d-none d-sm-inline">ADD PRODUCT</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/addCategory"><i class="fa fa-list-alt "></i> <span *ngIf="expanded"
            class="d-none d-sm-inline">ADD CATEGORY</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/supplier"><i class="fa fa-user "></i> <span *ngIf="expanded"
            class="d-none d-sm-inline">SUPPLIER</span></a>
      </li>
    </ul>

  </nav>
</div>
