<nav class="navbar navbar-expand navbar-dark bg-dark">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>
    <!-- Links -->
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="balance-sheet" class="nav-link" routerLinkActive="active">BALANCE SHEET</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="purchaseOrder" class="nav-link" routerLinkActive="active">PURCHASE</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a routerLink="salesOrder" class="nav-link" routerLinkActive="active">SALES</a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">ADD PRODUCT</a>
      </li>
      <li class="nav-item">
        <a routerLink="addCategory" class="nav-link" routerLinkActive="active">ADD CATEGORY</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="location" class="nav-link" routerLinkActive="active">LOCATION</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="company" class="nav-link" routerLinkActive="active">COMPANY</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="customer" class="nav-link" routerLinkActive="active">CUSTOMER</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="supplier" class="nav-link" routerLinkActive="active">SUPPLIER</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>