<div [hidden]="submitted" style="width: 400px;">
  <h3>CREATE CATEGORY</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="categoryName" required [(ngModel)]="category.categoryName"
        name="categoryName">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="categoryDesc" required [(ngModel)]="category.categoryDesc"
        name="category">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted" style="width: 400px;">
  <h3>UPDATE CATEGORY</h3>
  <form (ngSubmit)="updateCategory(category)">
    <div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="categoryName" required [(ngModel)]="category.categoryName"
        name="categoryName">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="categoryDesc" required [(ngModel)]="category.categoryDesc"
        name="category">
    </div>

    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>category List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Decsription</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories | async">
          <td>{{category.categoryName}}</td>
          <td>{{category.categoryDesc}}</td>
          <td><button (click)="deleteCategory(category.categoryID)" class="btn btn-danger">Delete</button>
            <button (click)="getCategory(category.categoryID)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
